/* Global */
* {
  box-sizing: border-box;
}

body, html {
  background-color: #FFFFFF;
  font-family: "TW Cen MT";
  margin: 0;
  padding: 0;

  height: 100%;

  list-style-type: none;
}

/* Links do not change color when visited */
a:visited{
  color:black;
}

/* Make Links sticky; for nav  bar */
ul{
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

/* standard tag overrides */
h1{
  font-size: 80px;
  margin-top: 0;
  text-align: right;
  text-transform: capitalize;

  border-right: 6px solid black;
  padding-right: 10px;
  height: 100%;

  margin-block-end: 0;
}

h2{
  font-size: 60px;
  margin-top: 0;
  text-align: right;

  border-right: 3px solid black;
  padding-right: 10px;
  height: 100%;
}

footer{
  background-color: #F7EAB3;
  border-radius: 25px;

  margin: 30px;
  margin-left: 20%;
  margin-right: 20%;

  padding: 10px;
  text-align: center;
}

footer a:link{
  color: #AAAAAA;
}

/* TODO: Change this to own class for CV */
main img{
  width: 1000px;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Top Banner image */
.banner-image {
  background-image: url("header.png");
  height: 30%;
  min-height: 100px;
  margin-bottom: 24px;

  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Site nav bar */
/* TODO: Add hover effects */
.nav{
  list-style:none;
  padding: 0;
  text-align:center;
  text-transform: uppercase;
  z-index: 1;
}

.nav li{
  display: inline-block;
  padding: 10px;
  width: 170px;
  background-color: #F7EAB3;
  border-radius: 25px;
  margin-bottom: 10px;
}

.nav li.active{
  background-color: #FFDE5F;
}

.nav a{
  display: inline-block;
  width: 150px;
  vertical-align: top;
}

.nav li a.active{
  color: black;
}

.nav a:link{
  text-decoration: none;
  color: #807e7e;
}

.nav a:visited{
  text-decoration: none;
  color: #807e7e;
}

/* Photo Grid */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 3 equal column elements, specified by max-width */
.column{
  flex: 0 0 600px;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 0;
  vertical-align: middle;

  /* img */
  display: block;
  width: 100%;
  height: auto;

  border: 2px solid rgb(154,205,50);
}

.image{
  display: inline-block;
  position: relative;
  width: 100%;
}

/* Captions activated by hovering over image */
.text {
  background-color: rgba(0,139,139,0.8);
  color: white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.image:hover .text {
  opacity: 1;
}

/* Responsive layout */
@media (max-width: 1440px){
  .row{
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .banner-image{
    max-height: 170px;
  }

  .row{
    justify-content: flex-start;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  main img{
    width: 95%;
  }
}

/* Entry Form */
.form{
  margin-left: 30%;
  margin-right: 30%;

  border-radius: 20px;
  background-color: #F7EAB3;
  padding: 20px;
}

/* Submit button */
input[type=submit] {
  background-color: #FFDE5F;
  padding: 10px 20px;

  border: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;

  cursor: pointer;
}

/* text input */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* wrapper for h1 */
.title{
  background-color: #F7EAB3;
  border-radius: 40px;

  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 5px;

  margin-bottom: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

/* about summary*/
.summary{
  margin-left: 30%;
  margin-right: 30%;
  background-color: #F7EAB3;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}

.summary img{
  width: 50%;
  height: auto;

  float: left;

  border-radius: 20px;
}

.summary p{
  padding-left: 52%;
}

/* Social Media Links */
.social{
  list-style: none;
  margin: 0;
}

.social li{
  display: inline;
  padding: 10px;
}

.social li:hover{
  opacity: 0.5;
  transition: opacity .5s ease-out;
}


@media (max-width: 600px) {
  html, body{
    font-size: 20px;
  }

  .title{
    margin-left: 10%;
    margin-right: 10%;
  }

  h1{
    font-size: 40px;
    border-right: 2px solid black;
  }

  .banner-image{
    max-height: 120px;
    margin-bottom: 5px;
  }

  .nav{
    font-size: 16px;
  }

  .row{
    padding: 0 5px;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .summary{
    margin-left: 5%;
    margin-right: 5%;
  }

  .form{
    margin-left: 5%;
    margin-right: 5%;
  }

  h2{
    font-size: 30px;
  }

  p{
    font-size: 16px;
  }

  footer{
    margin-left: 5%;
    margin-right: 5%;

    font-size: 16px;
  }
}
